@page
@{
    Layout = "_WebLayout";
}


    <h1 style="text-align:center">
        @ViewBag.ErrorTitle


    </h1>
    <h3>
        @ViewBag.ErrorMessage

    </h3>

<h3> An error occured while processing your request.
    The team is notified with the issue.</h3>
<h5>Please contact us on environs@gmail.com</h5>
