@{
    ViewBag.Title = "Home";
}
@model List<ProtectGaia.Models.Article>
<!-- Start main content -->
<!-- Start  usout -->
<section id="mu-about">

    <!--WIDGETS-->

    <div class="widget-card" style="background-color:#f5f5f5">
        <div class="row">
            <div class="col-md-4">
                <div class="widget-container">

                    <img src="~/images/Home/weather.png" alt="Location" style="filter: brightness(70%); opacity:0.9; width: 100%; height:11.8rem" />
                    <div class="currentTemp">Current Weather<br /> <h3>Updating . . .</h3></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget-container">
                    <img src="~/images/Home/air_quality.jpg" alt="Location" style="filter: brightness(70%); opacity:0.9; width: 100%; height:12rem" />
                    <div class="AqiValue"><br />Air Quality Index<br /> <h3>Updating . . .</h3></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget-container">
                    <img src="~/images/Home/ozone.jpg" alt="Location" style="filter: brightness(70%); opacity:0.9;  width: 100%; height:12rem " />
                    <div class="OzoneValue"><br />Ozone Index<br /><h3>Updating . . .</h3></div>
                </div>
            </div>
        </div>
    </div>

    <!--Start Infographics Slider-->
    <h3 style="margin-top: 6rem; text-align: center;">Know about GreenHouse Gas Effects on Climate and Health</h3>
    <div class="wrapper" style="margin-top: 5rem;">
        <section id="section1">
            <a href="#section3">‹</a>
            <div class="row" style="margin: 1.5rem; text-align:center;">
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info1.png" alt="Infographic 1" style="width:17.5rem; height: 15.6rem; ">
                    <br />
                </div>
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info2.png" alt="Infographic 2" style="width:17.5rem; height: 15.6rem; ">
                    <br />
                </div>
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info3.png" alt="Infographic 3" style="width:17.5rem; height: 15.6rem; ">
                    <br />
                </div>
            </div>
            <a href="#section2">›</a>
        </section>

        <section id="section2">
            <a href="#section1">‹</a>
            <div class="row" style="margin: 1.5rem; text-align:center;">
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info4.png" alt="Infographic 4" style="width:17.5rem; height: 15.6rem;">
                    <br />
                </div>
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info5.png" alt="Infographic 5" style="width:17.5rem; height: 15.6rem;">
                    <br />
                </div>
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info6.png" alt="Infographic 6" style="width:17.5rem; height: 15.6rem;">

                    <br />
                </div>
            </div>
            <a href="#section3">›</a>
        </section>

        <section id="section3">
            <a href="#section2">‹</a>
            <div class="row" style="margin: 1.5rem; text-align:center;">
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info7.png" alt="Infographic 7" style="width:17.5rem; height: 15.6rem;">
                    <br />
                </div>
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info8.png" alt="Infographic 8" style="width:17.5rem; height: 15.6rem;">

                    <br />
                </div>
                <div class="item col-md-4">
                    <img id="myImg" class="popimg" src="/images/infographics/info9.png" alt="Infographic 9" style="width:17.5rem; height: 15.6rem;">

                    <br />
                </div>
            </div>
            <a href="#section1">›</a>
        </section>
    </div>
    <!--end slider-->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="container">
            <span class="close">&times;</span>
            <div class="row">
                <div class="col-md-8">
                    <img class="modal-content" id="info1">
                </div>
                <div class="col-md-4" style="margin-top: 5rem;">
                    <div class="accordion panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Read More >>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="caption"></div>
    </div>


    <!--HIGHLIGHTS-->
    <div class="mu-container" style="padding:4rem 0rem 4rem 0rem;background-color:#C6E2FF">

        <!-- Title -->
        <div class="mu-title">
            <h2>Highlights</h2>
            <h4>Dig Deeper to know Better!</h4>
        </div>

        <!-- Start Feature Content -->

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="h-card">
                        <img src="~/images/Home/satellite.png" alt="visualizations" style=" opacity:0.9; height:20rem">
                        <div class="h-container">
                            <h5> Want to know what difference did lockdown brought to the environment? </h5>
                            <a asp-controller="Explore" asp-Action="Visualization"><p style="text-align:right">Read More <i class="fas fa-angle-double-right"></i></p></a>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="h-card">
                        <img src="~/images/Home/blogs.webp" alt="blogs" style="width: 100%;opacity:0.8;  height:20rem">
                        <div class="h-container">
                            <h5> Explore More! You Might be Interested In! </h5>
                            <br />
                            <a asp-controller="Blogs" asp-Action="Index"><p style="text-align:right">Read More <i class="fas fa-angle-double-right"></i></p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-area">
                    <div class="row" id="aboutus">
                        <div class="col-md-12">
                            <!-- Title -->
                            <div class="mu-title">
                                <h2>News Feed</h2>
                                <h4>Checkout some popular News &amp; Articles powered by NewsAPI</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Start Feature Content -->
                    <div class="row">
                        @foreach (Article each in Model)
                        {
                            <div class="col-md-6" style="margin-bottom:1rem;">
                                <div class="card" style="        padding-bottom: 1rem; height: 150px; box-shadow: 0px 0px 14px #ededed">
                                    <div class="container">
                                        <h5 style="color:black"><b>@each.Title</b></h5>
                                        <p style="color:green">@each.Source  - @each.PublishedDate</p>
                                        <a href=@each.Url class="w3-button w3-black" style="float:right" target="_blank">Read More&nbsp;<i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- End News Content -->
                </div>
            </div>
        </div>
    </div>



</section>
<!-- End About -->

<script>
// Get the modal

    var dict = {
        Img1: "Greenhouse Gas Effect is the effect generated from the emissions of harmful gases like CO2, methane etc. into the environment, mainly through energy consumption and transportation.",
        Img2: "Every day our actions contribute towards the release of excessive green house gases in our atmosphere. This is leading to a significant change is the climate as we know it, and not only our earth but humans are also being adversely affected by this climate change. ",
        Img3: "Household Sector is one of the main contributors towards the emission of these gases. To top it all, it also leads to wastage of many resources such as water and electricity. If each and every one of us taps our day to day habits and activities, we all can make a difference and drive our future generations towards a greener earth. ",
        Img4: "Transport sector which comprises of cars, trucks, public transport, flights and shipping, this sector is Australia’s second largest source of greenhouse gas pollution. The sector emitted 102 million tons carbon dioxide in 2018 which represents around 18% of Australia’s annual greenhouse gas pollution. ",
        Img5: "We at EcoMorph believe that each and every individual can contribute in this fight to stop excess emissions of greenhouse gases. Our small efforts can have a big impact if we all work together. In the Infographic below we have provided you with some lifestyle changes that you can perform in you daily activities. Your actions Count!",
        Img6: "Do you Know?<br>It is just not our Earth which is getting unwell, but you too!<br>Yes, the excess emissions of these harmful gases are deteriorating the health standards of human beings worldwide.Many fatal diseases are being promoted and caused by these gases. ",
        Img7: "Plants and trees are no less than life. <br> They are the reason we humans are alive.<br>Yes, plants and tress are very essential for us as they absorb carbon and give us the oxygen we need to breathe.But unfortunately, we are cutting trees faster than we are planting them.We request all of you to please plant more trees whenever you get time. ",
        Img8: "Small steps start at with you, yes you! And you can just take that step with your garbage! One of the very efficient ways to make your contribution and helping stop climate change can be done by managing your household waste. This Infographic suggests you some actions to manage your waste which in turn is helping our environment to stay healthy. ",
        Img9: "This infographic tells you all the benefits of gropwing your own food and it will be healthier than the food bought from outside."

    };

    var modal = document.getElementById("myModal");
    var img_elem = document.getElementsByClassName("popimg");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("info1");
    var captionText = document.getElementById("caption");
    var bodyText = document.getElementsByClassName("panel-body")[0];
    console.log(img_elem);

    img_elem[0].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img1"];

    }

    img_elem[1].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.style.height = "41rem";
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img2"];
    }

    img_elem[2].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img3"];
    }

    img_elem[3].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img4"];
    }

    img_elem[4].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img5"];
    }

    img_elem[5].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.style.height = "41rem";
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img6"];
    }
    img_elem[6].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.style.height = "41rem";
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img7"];
    }
    img_elem[7].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img8"];
    }
    img_elem[8].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.style.height = "36rem";
        captionText.innerHTML = this.alt;
        bodyText.innerHTML = dict["Img9"];
    }
    // Get the <span> element that closes the modal

    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }</script>


