@{
    ViewBag.Title = "Home";
}
@model List<ProtectGaia.Models.Article>
<!-- Start main content -->
<!-- Start  usout -->
<section id="mu-about">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm deviceLocation"> <br />Your device location<br /> <h3>Detecting . . .</h3></div>
            <div class="col-sm currentTemp">Current Weather<br />Current Temp : Updating<br />Feels Like : Updating . . .</div>
            <div class="col-sm AqiValue"><br />Air Quality Index<br /> <h3>Updating . . .</h3></div>
            <div class="col-sm OzoneValue"><br />Ozone Index<br /><h3>Updating . . .</h3></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-area">
                    <div class="row" id="aboutus">
                        <div class="col-md-12">
                            <!-- Title -->
                            <div class="mu-title">
                                <h2>News Feed</h2>
                                <h4>Checkout some popular News &amp; Articles powered by NewsAPI</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Start Feature Content -->
                    <div class="row">
                        @foreach (Article each in Model)
                        {
                            <div class="col-md-6" style="margin-bottom:1rem;">
                                <div class="card" style="padding-bottom:1rem;height:150px; box-shadow: 0px 0px 14px #ededed">
                                    <div class="container">
                                        <img src=@each.ImageUrl alt="Image" style="width:20%;height:auto" />
                                        <h5 style="color:black"><b>@each.Title</b></h5>
                                        <p style="color:green">@each.Source  - @each.PublishedDate</p>
                                        <a href=@each.Url class="w3-button w3-black" style="float:right" target="_blank">Read More&nbsp;<i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- End News Content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<!-- Start Video -->
<div id="mu-video">
    <div class="row">
        <div class="col-md-12">
            <div class="mu-title">
                <h2>Carbon Footprint - A brief overview</h2>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-7 mx-auto">
            <div class="mu-video-left">
                <a href="#" class="mu-video-play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <!-- Start Video Popup -->
    <div class="mu-video-popup">
        <div class="mu-video-iframe-area">
            <a class="mu-video-close-btn" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/8q7_aV8eLUE" allowfullscreen></iframe>
        </div>
    </div>
    <!-- End Video Popup -->
</div>
