@{
    Layout = "_WebLayout";
    ViewData["Title"] = "Blogs";
}
    <script>
    var contactId = "resourcesone";
    </script>
<!-- Start Row 1 -->
<h1 style="margin-top: 8rem; margin-left: 45rem;"> Blogs </h1>
    <div class="w3-panel w3-card" style="margin-top:3rem;">
        <h3>Category 1: Greenhouse Gas Emissions</h3>
            <div class="row" style="padding-top:15px;">
                <div class="col-md-4">
                    <div class="w3-card">
                        <img src="/images/blogs/blog1.png" alt="Greenhouse Gases" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:0px;">
                            <h6><b>What are Greenhouse Gases and why are they a Problem?</b></h6>
                            <a href="https://www.helloinspire.com/blog/clean-power/what-are-greenhouse-gases">Read More >> </a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="w3-card">
                        <img src="/images/blogs/blog2.png" alt="Greenhouse Effect" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:16px;">
                            <h6><b>What is the Greenhouse Effect?</b></h6>
                            <a href="https://www.climaterealityproject.org/blog/what-greenhouse-effect">Read More >></a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="w3-card">
                        <img src="/images/blogs/blog3.png" alt="Greenhouse Effect" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:0px;">
                            <h6><b>Understand Greenhouse gas emissions by Countries and sectors.</b></h6>
                            <a href="https://www.wri.org/blog/2020/02/greenhouse-gas-emissions-by-country-sector">Read More >></a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
                
<!-- End Row 1-->
<!--Start Row 2-->
    <div class="w3-panel w3-card" style="margin-top: 60px;">
        <h3>Category 2: Energy & Transportaion</h3>
        <div class="row" style="padding-top:15px;">
            <div class="col-md-4">
                <div class="w3-card">
                        <img src="/images/blogs/blog5.jpg" alt="Transport Emissions" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:0px;">
                            <h6><b>The Truth about Australia’s Transport Emissions</b></h6>
                            <a href="https://thedriven.io/2019/03/06/the-truth-of-australia-transport-emissions/">Read More >> </a>
                        </div>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="w3-card">
                        <img src="/images/blogs/blog6.png" alt="Transport Emissions" style="width:100%; height:215px;">
                        <div class="w3-container">
                            <h6><b>Energy Efficiency in Australia</b></h6>
                            <a href="https://www.energymatters.com.au/energy-efficiency/">Read More >></a>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="w3-card">
                        <img src="/images/blogs/blog4.jpg" alt="Transport Emissions" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:0px;">
                            <h6><b>What's the Deal with Transport Emissions?</b></h6>
                            <a href="https://www.climatecouncil.org.au/resources/transport-emissions-and-climate-solutions/">Read More >></a>
                        </div>
                    <br>
                </div>
            </div>
        </div>
    </div>



