@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    ViewBag.Title = "ClimateChange";
}
@if (HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true")
{
    Layout = "_AuthenticatedLayout";
}
else
{
    Layout = "_WebLayout";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/explainers.css" />

<!-- Main -->
<section id="main" style="background-color:#fff !important">
    <div class="container">
        <a href="#" class="image featured"><img src="~/images/explainers/climate_bg.png" alt="climate_change" style="width: 100%; height: auto" /></a>
        <div class="post-content">
            <h2 style="text-align:center">Climate Change</h2>
            <p style="font-size: 1rem; font-family: Archivo Narrow, sans-serif;text-align:center">Written by: Environs</p>
            <center>
                <article style="position: relative;left: 19.5%;">
                    <p style="text-align: center;">
                        <span>
                            <b>
                                <h5t>
                                    <i style="color: #008080">
                                        Climate change is happening, and it is happening now!<br />
                                    </i>
                                </h5t>
                            </b>
                        </span>
                    </p>
                    <p style="text-align:left">
                        The excess emissions of Greenhouse Gases in our environment is causing a significant and very rapid
                        increase in our global temperatures, and its effects are not seen only in Australia, but in the entire
                        world. We all were so helpless when we were struck by bushfires in 2019, yes that too was
                        caused by the climate change. We can sense it here in Australia, where, <strong>
                            since 2005,
                            9 of the 10 hottest years on earth have all happened.
                        </strong>
                    </p>

                    <p style="text-align:left">
                        Many individuals including the Australian youth are unaware of what Greenhouse Gases are
                        and do not understand what Greenhouse Effect is? <br /><br /> In a few words,
                        <i style="color: #008080">“Gases that trap heat in the atmosphere are called <strong><i style="color: #008080">Greenhouse Gases</i></strong>”</i>. <br /><br />There are mainly <strong>four types of Greenhouse Gases: </strong><b><i style="color: #008080">Carbon dioxide (CO2), Methane (CH4), Nitrous oxide (N2O), Fluorinated gases</i></b>.<br />
                        For making things simpler to understand, the infographic provided below will explain what greenhouse effect is:
                    </p>

                    <p style="text-align: center;">
                        <img src="~/images/explainers/0_climate.png" alt="The Greenhouse Effect" width="700" height="774" sizes="(max-width: 700px) 100vw, 700px"><br>
                        <em>Greenhouse Effect &amp; its Impact on Environment</em>
                    </p>

                    <p style="text-align:left">
                        Due to the increased water carrying capacity of a warmer atmosphere, the world average water vapor
                        content increases rapidly in response to an rise in air temperature. Because the water vapor is a
                        greenhouse gas, the original heat is increased. This phenomenon is known as <strong>positive feedback.</strong>
                    </p>

                    <div class="container" style="border-style: solid; border-width: 1px; border-radius: 10px; border-color: #453f3c">
                        <h3> Did You Know..? </h3>
                        <p style="text-align: center;">
                            <span>
                                <b>
                                    <h4t>
                                        <i style="color: #00b3b3;">
                                            “Climate change could be irreversible by 2030, According to a report conducted by the UN
                                            Intergovernmental Panel on Climate Change (IPCC), urgent action is needed to avoid the catastrophic
                                            effects of global warming.”<br />
                                        </i>
                                    </h4t>
                                </b>
                            </span>
                            <span><i style="font-size: 0.8em"> (Source - <a href="https://www.ipcc.ch/">UN Intergovernmental Panel on Climate Change (IPCC)</a></i></span>
                        </p>
                    </div><br />

                    <p style="text-align:left">
                        That’s not it, <strong>our glaciers are melting, forests are clearing and wildlife is dying.</strong><br /> For all the people who
                        have these questions in their head, why should I even care? How can these gases even impact our planet?<br /><br />
                        <i>Hold on mate!</i><br /><br /> We have an answer to all your questions, highilighted through the infographic below:
                    </p>

                    <p style="text-align: center;">
                        <img src="~/images/explainers/0_climate2.png" alt="Climate Change and its effects on Environment" width="700" height="774" sizes="(max-width: 700px) 100vw, 700px"><br>
                        <em>How Climate Change can Affect our Environment</em>
                    </p>

                    <p style="text-align:left">
                        This is a collective issue and before we even try to stop the climate change, we need to understand it properly. Our vision at
                        EcoMorph is to create awareness amongst people so that they understand that <strong>
                            Greenhouse emissions are fueling climate change and
                            making our earth and human health suffer.
                        </strong>
                    </p>
                </article>
            </center>
        </div>
    </div>
</section>

