@{
    Layout = "_Layout";
    ViewBag.Title = "ClimateChange";
}


    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
      
        
        <!-- Main -->
        <section id="main" style="background-color:white">
            <div class="container">
                <a href="#" class="image featured"><img src="~/images/13_4.jpg" alt="" /></a>
                <div class="row">
                    <section>
                        <header>
                            <h2>Climate Change</h2>
                            <p>written by: Ecomorph</p>
                        </header>
                    </section>
                </div>
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <!-- Content -->
                        <article class="box post">
                            <p style="text-align:justify">
                                Climate change is happening, and it is happening now!
                            </p>
                            <br />
                            <br />
                            <p style="text-align:justify">
                                The excess emissions of green house gases in our climate is causing a significant and very rapid
                                increase in our global temperatures and its effects can just not be seen in Australia but our whole
                                world. We all were so helpless when we were struck by bushfires in 2019, yes that too was
                                caused by the climate change. We can sense it here in Australia, where, since 2005, nine of
                                the 10 hottest years on earth have all happened.
                            </p>
                            <p style="text-align:justify">
                                Many individuals including the Australian youth are unaware of what greenhouse gases are
                                and do not understand what Greenhouse effect is?  In very few words, “Gases that trap heat in
                                the atmosphere are called greenhouse gases”. There are mainly four types of greenhouse gases namely
                                Carbon dioxide (CO2), Methane (CH4), Nitrous oxide (N2O), Fluorinated gases. To make it simpler
                                to understand, the provide infographic will explain what greenhouse effect is.
                            </p>
                            <p style="text-align:justify">
                                Due to the increased water carrying capacity of a warmer atmosphere, the world average water vapor 
                                content increases rapidly in response to an rise in air temperature. Because the water vapor is a 
                                greenhouse gas, the original heat is increased. This phenomenon is known as positive feedback.
                            </p>
                        </article>
                    </div>
                    <div class="col-5 col-12-medium">
                        <!-- Sidebar -->
                        <section class="box"  style="padding-top: 10em;margin-left: -1rem;margin-right: 1rem;">
                            <a href="#" class="image featured"><img src="~/images/explainers/0_climate.png" alt="climate_change" /></a>
                        </section>
                    </div>
                    
                    <section>
                        <header>
                            <h3>Fact Check!</h3>
                        </header>
                        <p style="text-align:justify">
                            Climate change could be irreversible by 2030, According to a report conducted by the UN Intergovernmental Panel on
                            Climate Change (IPCC), urgent action is needed to avoid the catastrophic  effects of global warming.
                        </p>
                        <br />
                        <p style="text-align:justify">
                            That’s not it, our glaciers are melting, forests are clearing and wildlife is dying. For all the people who
                            have these questions in their head, why should I even care? how can these gases can impact our planet?
                            Hold on mate! We have an answer to all your questions, the Infographic provided highlights some of these affects.
                        </p>
                        <br/>
                        <p style="text-align:justify">
                            <img src="~/images/explainers/0_climate2.png" alt="climate_change" style="width:50%;display: block; margin-left: auto; margin-right: auto;" />
                        </p>
                        <br />
                        <p style="text-align:justify">
                            This is a collective issue and before we even try to stop the climate change, we need to understand it properly. Our vision at 
                            EcoMorph is to create awareness amongst people so that they understand that greenhouse emissions are fueling climate change and 
                            making our earth and human health suffer.
                        </p>
                    </section>
                </div>
            </div>
        </section>
        
  
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
