@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "HealthImpacts";
}
@if (HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true")
{
    Layout = "_AuthenticatedLayout";
}
else
{
    Layout = "_WebLayout";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/explainers.css" />

<!--Main-->
<section id="main" style="background-color:white">
    <div class="container">
        <a href="#" class="image featured"><img src="~/images/explainers/health_bg.png" alt="health_impacts" style="width: 100%; height: auto" /></a>
        <div class="post-content">
            <h2 style="text-align:center">Health Impacts</h2>
            <p style="font-size: 1rem; font-family: Archivo Narrow, sans-serif;text-align:center">Written by: Environs</p>
            <center>
                <article style="position: relative; left: 19.5%;">
                    <p style="text-align: center;">
                        <span>
                            <b>
                                <h5t>
                                    <i style="color: #008080">
                                        It is just not our Earth which is getting unwell, but you too!<br />
                                    </i>
                                </h5t>
                            </b>
                        </span>
                    </p>
                    <p style="text-align:left">
                        The <strong>excess emissions of harmful gases are deteriorating the health standards of human beings worldwide</strong>.
                        Many fatal diseases are being promoted and caused by these gases.<br /> Greenhouse emissions have far-reaching implications for
                        the atmosphere and for human health. They also lead to air pollution causing respiratory disease.
                    </p>

                    <p style="text-align:left">
                        Certain effects of climate change caused by greenhouse emissions include <strong>severe storms, food chain shortages and intensified wildfires</strong>.
                        People in developing countries may be the most vulnerable to health threats worldwide but even in wealthy nations
                        like Australia, climate change poses significant health challenges.<br />
                        Many categories, such as <strong> babies, pregnant women, older adults and people with low incomes face increased risks </strong> due to this.
                        The following infographic will help you to understand the fatal diseases caused by Greenhouse Gases (GHG):
                    </p>

                    <p style="text-align: center;">
                        <img src="~/images/explainers/0_health.png" alt="Health Impacts" width="700" height="774" sizes="(max-width: 700px) 100vw, 700px"><br>
                        <em>Effect of GHG Emissions on Human Health</em>
                    </p>

                    <p style="text-align:left">
                        There are many researches that are focusing on the human health being affected from GHG emissions.<br />
                        <b>
                            A Human Health Perspective on Climate Change (Environmental Health Perspectives and the National
                            Institute of Environmental Health Sciences, 2010) stated that,
                        </b>
                        <i style="color: #008080">
                            “there are very serious impacts on human
                            health due to the sudden imbalance in climate and ecosystem.”
                        </i>
                    </p>

                    <div class="container" style="border-style: solid; border-width: 1px; border-radius: 10px; border-color: #453f3c">
                        <h3> Did You Know..? </h3>
                        <p style="text-align: center;">
                            <span>
                                <b>
                                    <h4t>
                                        <i style="color: #00b3b3; ">
                                            “Australia’s mortality data indicate that over the past four decades there has been a steady increase in the number of deaths in summer,
                                            compared to those in winter suggesting that climate change may already be affecting mortality rates.”<br />
                                        </i>
                                    </h4t>
                                </b>
                            </span>
                            <span><i style="font-size: 0.8em">(Source – <a href="www.Climatecouncil.org">Climate Council, Australia</a>)</i></span>
                        </p>
                    </div><br />

                    <p style="text-align:left">
                        It is not only the direct effects on human health, but also a lot of indirect factors are having a great impact.
                        A full explanatory diagram is provided by the Climate Council Australia to help people understand how
                        their physical and mental heath is suffering due to this change.
                    </p>

                    <p style="text-align: center;">
                        <img src="~/images/explainers/0_health2.jpg" alt="Transport Emissions in Australia" width="700" height="774" sizes="(max-width: 700px) 100vw, 700px"><br>
                        <em>Impacts on Physical and Mental Health - <a href="https://www.climatecouncil.org.au/" target="_blank">Climate Council, Australia</a></em>
                    </p>

                    <p style="text-align:left">
                        Climate change is affecting our Australian wellbeing, and in decades to come it will lead to more accidents,
                        illnesses, and deaths. If not addressed soon, it will keep on affecting health standards for Australian people and with time,
                        can even get worse. It is of utmost importance that people realize these issues and make actions that contribute towards
                        our fight against climate change.
                    </p>
                </article>
            </center>
        </div>
    </div>
</section>


