@{
    Layout = "_Layout";
    ViewBag.Title = "HealthImpacts";
}


    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
      
        
        <!-- Main -->
        <section id="main" style="background-color:white">
            <div class="container">
                <a href="#" class="image featured"><img src="~/images/13_4.jpg" alt="" /></a>
                <div class="row">
                    <section>
                        <header>
                            <h2>Health Impacts</h2>
                            <p>written by: Ecomorph</p>
                        </header>
                    </section>
                </div>
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <!-- Content -->
                        <article class="box post" style="padding-bottom: 9.5em;">
                            <p style="text-align:justify">
                                It is just not our Earth which is getting unwell, but you too!
                                <br />
                                <br/>
                                Yes, the excess emissions of these harmful gases are deteriorating the health standards of human beings worldwide.
                                Many fatal diseases are being promoted and caused by these gases. Greenhouse emissions have far-reaching implications for
                                the atmosphere and for human health. They also lead to air pollution causing respiratory disease. Certain effects of climate
                                change caused by greenhouse emissions include severe storms, food chain shortages and intensified wildfires.
                                People in developing countries may be the most vulnerable to health threats worldwide but even in wealthy nations
                                like Australia, climate change poses significant health challenges. Many categories, such as babies, pregnant women,
                                older adults and people with low incomes face increased risks due to this.
                                The Infographic provided will help to understand the fatal diseases caused by these Greenhouse Gases (GHG).
                            </p>
                        </article>
                    </div>
                    <div class="col-5 col-12-medium">
                        <!-- Sidebar -->
                        <section class="box" style="margin-left: -1rem;margin-right: 1rem;">
                            <a href="#" class="image featured"><img src="~/images/explainers/0_health.png" alt="health_impacts" /></a>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <br/><br/>
                    <section>
                        <p style="text-align:justify">
                            There is numerous research that are focusing on the human health being affected from GHG emissions.
                            A Human Health Perspective on Climate Change (Environmental Health Perspectives and the National Institute
                            of Environmental Health Sciences, 2010) stated that there are very serious affects to human health due to these
                            sudden imbalances in climate and earths ecosystem.
                        </p>
                        <br />

                        <header>
                            <h3>Fact Check!</h3>
                        </header>
                        <p style="text-align:justify">
                            Australia’s mortality data indicate that over the past four decades there has been a steady increase in the number of deaths in summer,
                            compared to those in winter suggesting that climate change may already be affecting mortality rates.
                            <br />(Source – Climate Council, Australia)
                        </p>
                        <br />
                        <p style="text-align:justify">
                            It is not just direct effects on human health, but a lot of indirect factors are also giving a great impact.
                            A full explanatory diagram is provided by the Climate Council Australia to help our people understand how their
                            physical and menta heath is suffering due to this change.
                        </p>
                        <br />
                        <section>
                            <p style="text-align:center">
                                <a href="#" class="image featured"><img src="~/images/explainers/0_health2.jpg" alt="health_impacts" 
                                                                        style="width:75%;display: block; margin-left: auto; margin-right: auto;" /></a>
                                Source – https://www.climatecouncil.org.au/
                            </p>
                        </section>
                        <p style="text-align:justify">
                            Climate change is affecting our Australian wellbeing, and in decades to come it will lead to more accidents,
                            illnesses, and deaths. If not addressed soon, it will keep on affecting health standards for Australian people and with time,
                            can even get worse. It is of utmost importance that people realize these issues and make actions that contribute towards
                            our fight against climate change!
                        </p>

                    </section>
                </div>
            </div>
        </section>
        
  
