@{
    Layout = "_Layout";
    ViewBag.Title = "HouseholdPractices";
}



<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />


<section id="main" style="background-color:white">
    <div class="container">
        <a href="#" class="image featured"><img src="~/images/13_4.jpg" alt="" /></a>
        <!-- Content -->
        <article class="box post">
            <header>
                <h2>Household Activities</h2>
                <p>Written by: Environs</p>
            </header>
            <p style="text-align:justify">
                This fight against greenhouse gases starts with you. By making little changes to your household practices,
                you can make your house greener and also reduce your carbon footprint.
                This explainer suggests you on greener ways to manage your household waste and also initiate an
                interest of backyard farming in your daily lives.
            </p>
            <p style="text-align:justify">
                Growing your own food in your backyard or home garden is no rocket science.
                It is actually quiet easy and interesting way to get involved in an activity which is
                beneficial for the environment and for you as well. So lets have a look upon some of the benefits of household farming.
            </p>
            <br />
            <p style="text-align:justify">
                <img src="~/images/explainers/0_house.png" alt="transport_emissions" style="width:80%;display: block; margin-left: auto; margin-right: auto;" />
            </p>
            <br />
            <p style="text-align:justify">
                To make things easier for you, watch this video below made by our team to understand how backyard
                farming is helping Australia reduce its green house emissions and making you take a step towards better health –
            </p>
            <h1> VIDEO (https://videos.mysimpleshow.com/ARashqLjcs)</h1>
            <p style="text-align:justify">
                Liked the Video? That is not all, here are some tips below to get you started – <br />
                1.	Pick the right spot! The most suitable spot for growing vegetables is the place which has access to sunlight and water. <br />
                2.	Use clean and natural soil to grow your food. <br />
                3.	Try using an elevated garden bed that lets you monitor the soil and nutrient mixture.<br />
                4.	Speak to other gardeners in your area to get a sense of what is growing well in your area and at what time of the year.<br />
                5.	Start small – Grow the veggies or fruits that you love and can be grown easily.<br />
            </p>
            <section>
                <header>
                    <h3>Fact Check!</h3>
                </header>
                <p style="text-align:justify">
                    Australian households generate at least one-fifth of Australia's greenhouse gases,
                    more that 18 tons per household each year.
                    <br />(Source – https://apps.epa.vic.gov.au/AGC/home.html)
                </p>
                <br />
                <p style="text-align:justify">
                    <img src="~/images/explainers/0_house2.png" alt="transport_emissions" style="width:60%;display: block; margin-left: auto; margin-right: auto;" />
                </p>
            </section>
        </article>
        <div class="row">
            <div class="col-5 col-12-medium">
                <!-- Content -->
                <article class="box post">
                    <section>
                        <p style="text-align:justify">
                            There is another way in which you can help the environment, that is by managing your household waste properly
                            and disposing them in the correct bins only if required. Waste disposal has been a critical concern across
                            Australia. In the past two years, Australia has produced large amounts of garbage without a proper
                            recycling method, despite an unprecedented population growth. Our household Waste can be
                            divided into five waste forms which include liquid waste, solid garbage, industrial waste,
                            toxic waste and recyclable waste. We should make sure that we split the waste into these different
                            forms to ensure proper handling of the waste. It is the duty of each of us  to organize and to
                            schedule their waste disposal. The infographic provided will guide through proper and efficient waste management.
                        </p>
                    </section>
                </article>
            </div>
            <div class="col-7 col-12-medium">
                <section class="box">
                    <img src="~/images/explainers/0_house3.png" alt="transport_emissions" style="width:100%" />
                </section>
            </div>
        </div>
    </div>
</section>
