@{
    Layout = "_Layout";
    ViewBag.Title = "MakeAChange";
}



<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/explainers.css" />

<!--Main-->
<section id="main" style="background-color:white">
    <div class="container">
        <a href="#" class="image featured"><img src="~/images/explainers/change_bg.png" alt="" style="width: 68em; height: 24em" /></a>
        <div class="post-content">
            <h2 style="text-align:center">Make a Change</h2>
            <p style="font-size: 1rem; font-family: Archivo Narrow, sans-serif;text-align:center">Written by: Environs</p>
            <center>
                <article style="position: relative;left: 19.5%;">
                    <p style="text-align: center;">
                        <span>
                            <b>
                                <i style="font-size: 1.8em; font-weight: 400;color: #008080">
                                    No effort is too small. All your actions will help Australia reduce its greenhouse emissions.<br />
                                </i>
                            </b>
                        </span>
                    </p>
                    <p style="text-align:left">
                        The GHG emissions are rapidly propagating climate change, which is furthermore affecting people’s life.
                        As common individuals, we together should take immediate action, to reduce the impact of these emissions.
                        It is not that in order to do so, we have to completely change and transform our life, but just by <strong>making very small changes in our habits</strong>.
                    </p>

                    <p style="text-align:left">
                        An interesting thing to know, is that, even the household and day-to-day activities of Australian residents are responsible for emitting a significant amount of Greenhouse Gases.
                        <br /><strong> Just some daily changes in your household and transport choices will make a very big difference and help Australia reduce its emissions significantly.</strong>
                        Follow the steps provided below with some lifestyle changes that you can perform in your daily activities.<br /><br />
                        <strong><i style="color: #008080">Your actions Count!</i></strong>
                    </p>

                    <p style="text-align: center;">
                        <img src="~/images/explainers/0_makechange.png" alt="Make a Change" width="700" height="774" sizes="(max-width: 700px) 100vw, 700px"><br>
                        <em>Reduce Your Greenhouse Gas Emissions - A Step Towards Change</em>
                    </p>

                    <p style="text-align:left">
                        If we do not transform our lives now, the reality is that our children and generations will be living in a very warm climate
                        and much harsher conditions than what we have at present.
                    </p>

                    <div class="container" style="border-style: solid; border-width: 1px; border-radius: 10px; border-color: #453f3c">
                        <h3> Did You Know..? </h3>
                        <p style="text-align: center;">
                            <span>
                                <b>
                                    <i style="font-size: 1.65em; font-weight: 400;color: #00b3b3; line-height: 1.5em;">
                                        “An average Australians Carbon emission per capita is around 20.6 tones a year,
                                        this is because of Australia’s heavy reliance on coal for producing energy!”<br />
                                    </i>
                                </b>
                            </span>
                            <span><i style="font-size: 0.8em">(Source – <a href="https://www.theguardian.com/uk">The Guardian</a>)</i></span>
                        </p>
                    </div><br />

                    <p style="text-align:left">
                        <strong><i style="color: #008080">Minimizing the use of private carbon-guzzling cars, recycling products and using energy in efficient ways</i></strong>
                        are some broad steps that any individual can follow.
                        We should do some real work instead of just participating in social media arguments and wasting natural resources and energy.
                    </p>

                    <p style="text-align:left">
                        Make things happen, take small steps and make healthier life choices. You can also plant some trees whenever you get time.
                        Yes, plants and trees are very essential for us as they absorb carbon and give us the oxygen we need to breathe.
                    </p>

                    <p style="text-align:left">
                        But unfortunately, we are cutting trees faster than we are planting them. We request all of you to please plant more trees whenever you get time and also spread awareness.
                        The infographic below will get you motivated –
                    </p>

                    <p style="text-align: center;">
                        <img src="~/images/explainers/0_makechange2.png" alt="Plant Trees and Make a Change" width="700" height="774" sizes="(max-width: 700px) 100vw, 700px"><br>
                        <em>Benefits of Planting Trees</em>
                    </p>

                    <p style="text-align:left">
                        The motive behind our
                        <strong><i style="color: #008080"> EcoMorph challenge </i></strong>
                        is to <i style="color: #008080">influence and motivate the young generation to try and get used to live a low-carbon and a healthier lifestyle.</i>
                        </p>
                    <p style="text-align: center;">
                        <i><strong>Would you like to begin a new life?</strong></i>
                    </p>
                </article>
            </center>
        </div>
    </div>
</section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>