<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <title>@ViewBag.Title: Ecomorph</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/CustomGoogle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <meta name="google-signin-client_id" content="440340758534-aq6c3kkn67nt2eo0345vqjrp7h29kuqu.apps.googleusercontent.com">

    <!-- Favicon -->
    @*<link rel="shortcut icon" type="/image/icon" href="/favicon.ico" />*@
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/geoLocation.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script>$(document).ready(function () {
            $("#loading").hide();
            $("#loader").hide();
        });
        var googleUser = {};
        var startApp = function () {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.

                auth2 = gapi.auth2.init({
                    client_id: '440340758534-aq6c3kkn67nt2eo0345vqjrp7h29kuqu.apps.googleusercontent.com',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'
                });
                attachSignin(document.getElementById('customBtn'));
                attachSignin(document.getElementById('customBtn1'));
                attachSignin(document.getElementById('customBtn2'));

            });
        };

        function attachSignin(element) {
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    sessionStorage.setItem("userName", googleUser.getBasicProfile().getName());
                    sessionStorage.setItem("userEmail", googleUser.getBasicProfile().getEmail());
                    sessionStorage.setItem("userImageUrl", googleUser.getBasicProfile().getImageUrl());
                    $("#loading").show();
                    $("#loader").show();
                    $.ajax({
                        url: "/home/index",
                        type: "POST",
                        data: { "userEmail": googleUser.getBasicProfile().getEmail(), "userName": googleUser.getBasicProfile().getName(), "userImageUrl": googleUser.getBasicProfile().getImageUrl() },
                        cache: false,
                        async: true,
                        success: function (response) {
                            window.location.href = response.newUrl;
                            $("#loading").hide();
                            $("#loader").hide();
                        }
                    })
                }
            )
        }
        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

        function signOut() {
            gapi.auth2.init();
            gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                $.ajax({
                    url: "/home/signout",
                    type: "POST",
                    data: { "userEmail": sessionStorage.getItem("userEmail") },
                    cache: false,
                    async: true,
                    success: function (response) {
                        sessionStorage.removeItem("userName");
                        sessionStorage.removeItem("userEmail");
                        window.location.href = response.newUrl;
                    }
                })
                //auth2.disconnect();
            });

        }</script>
</head>
<body class="homepage is-preload">
    <div id="loading">
        <div id="loadContainer">
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="loader">
                        <div class="dot d1"></div>
                        <div class="dot d2"></div>
                        <div class="dot d3"></div>
                        <div class="dot d4"></div>
                        <div class="dot d5"></div>
                    </div>
                    <div id="setting">
                        <div class="setting-body"></div>
                        <div class="setting-tooth t1"></div>
                        <div class="setting-tooth t2"></div>
                        <div class="setting-tooth t3"></div>
                        <div class="setting-tooth t4"></div>
                        <div class="setting-tooth t5"></div>
                        <div class="setting-tooth t6"></div>
                        <div class="setting-tooth t7"></div>
                        <div class="setting-tooth t8"></div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row text-center">
                <div class="col-md-12">
                    <h5 id="loadingmessage">Loading...</h5>
                </div>
            </div>
        </div>
    </div>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>

    <script>startApp();</script>


    <div id="page-wrapper">

        <div class="deviceLocation" style="background-color:#fff !important;text-align: right; margin-right: 1rem;"> Detecting . . .</div>
        <!-- Header -->
        <section id="header" style="margin-top:0em">
            <!-- Logo -->
            <h1>
                <a asp-controller="Home" asp-action="Index" style="text-decoration:none;color:black; font-weight:600">
                    <img src="~/images/logo.jpeg" alt="ecoMorph" style="width:4rem;height:4rem;" />EcoMorph
                </a>
            </h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a asp-controller="Home" asp-action="Index">Home</a></li>&nbsp;
                    <li>
                        <a href="#">Explainers</a>
                        <ul>
                            <li><a asp-controller="Explainers" asp-Action="EnergyConsumption" style="text-decoration:none;">Energy Consumption</a></li>
                            <li><a asp-controller="Explainers" asp-Action="TransportEmissions" style="text-decoration:none;">Transport Emissions</a></li>
                            <li><a asp-controller="Explainers" asp-Action="HouseholdPractices" style="text-decoration:none;">Household Practices</a></li>
                            <li><a asp-controller="Explainers" asp-Action="ClimateChange" style="text-decoration:none;">Climate Change</a></li>
                            <li><a asp-controller="Explainers" asp-Action="HealthImpacts" style="text-decoration:none;">Health Impacts</a></li>
                            <li><a asp-controller="Explainers" asp-Action="MakeAChange" style="text-decoration:none;">Make a Change</a></li>
                        </ul>
                    </li>

                    <li>
                        <a id="customBtn" class="customGPlusSignIn">
                            <span class="buttonText">Take the Challenge</span>
                        </a>
                    </li>



                </ul>
            </nav>
        </section>
    </div>

    <!-- End Header -->
    <main>
        @RenderBody()
    </main>
    <!-- End main content -->
    <!-- Start footer -->
    <section id="footer" style="filter: brightness(100%); height:50%">
        <div class="row">
            <div class="col-12">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        <li>Designed by Environs. All rights reserved.</li>
                    </ul>
                </div>
                <br />

                <div id="copyright">
                    <ul class="links" style="color:#c5c4c4">
                        <li>
                            <i class="fas fa-map-marker-alt"></i> Melbourne, Australia

                        </li>
                        <li>
                            <i class="fa fa-envelope" style="color:#c5c4c4"></i> environs@gmail.com

                        </li>

                        <li>
                            <i class="fa fa-mobile" style="color:#c5c4c4"></i> (800) 000-0000

                        </li>

                    </ul>
                </div>


            </div>

        </div>

    </section>


    <!-- End footer -->
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    


    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>



</body>
</html>