<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - Eco Morph</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="/image/icon" href="/images/favicon.ico" />
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Slick slider -->
    <link href="~/css/slick.css" rel="stylesheet">
    <!-- Gallery Lightbox -->
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <!-- Skills Circle CSS  -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/circle.css">


    <!-- Main Style -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Fonts -->
    <!-- Google Fonts Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <!-- Google Fonts Open sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">


</head>
<body>

    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start Header -->
    <header id="mu-hero">
        <div class="top-right">
            <nav class="navbar navbar-expand-lg navbar-light mu-navbar">
                <div>
                    <!-- Text based logo -->
                    <a class="navbar-brand mu-logo" href="index.html"><img src="~/images/Home/eco_logo.png" alt="Eco Morph" style="height:70%;width:70%" /></a>
                    <!-- image based logo -->
                    <!-- <a class="navbar-brand mu-logo" href="index.html"><img src="assets/images/logo.png" alt="logo"></a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mu-navbar-nav">
                        <li class="nav-item active">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item" id="aboutusone"><a href="/#aboutus" onclick="scrollToDiv('aboutus')">About us</a></li>
                        <li class="nav-item" id="resourcesone"><a href="/#resources" onclick="scrollToDiv('resources')">Resources</a></li>

                        <li class="nav-item" id="aboutusone"><a href="/#getinvolved" onclick="scrollToDiv('aboutus')">Get Involved</a></li>

                        <li class="nav-item" id="contactusone"><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main style="margin-top:4rem;">
        <!-- End Header -->
        @RenderBody()
    </main>
    <!-- End main content -->
    <!-- Start footer -->

    <footer>
        <div class="mu-container mu-footer-top">
            <center><p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="http://markups.io">EcoMorph</a>.<br /> All right reserved.</p></center>
        </div>
    </footer>
    <!-- End footer -->
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- Slick slider -->
    @* <script type="text/javascript" src="/js/slick.min.js"></script>*@
    <!-- Progress Bar -->
    <script src="https://unpkg.com/circlebars@1.0.3/dist/circle.js"></script>
    <!-- Filterable Gallery js -->
    <script type="text/javascript" src="/js/jquery.filterizr.min.js"></script>
    <!-- Gallery Lightbox -->
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/contact.js" type="text/javascript"></script>
    <!-- Counter js
    <script type="text/javascript" src="/js/counter.js"></script>-->
    <!-- Ajax contact form  -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>


    <!-- Custom js -->
    <script type="text/javascript" src="/js/custom.js"></script>



</body>
</html>