@{
    Layout = "_WebLayout";
    ViewBag.Title = "Blogs";
}

<link href="~/css/blogs.css" rel="stylesheet">

<!--<script type="text/javascript" src="/js/hor-scroll.js"></script>-->
<script>var contactId = "resourcesone";</script>
<h1 style="margin-top: 8rem; margin-left: 45rem;"> Blogs </h1>
<!-- Start Row 1 -->
<div class="w3-panel w3-card">
    @*<span style="text-align:right;float:right; text-decoration: underline;">Scroll For More</span><br /><br />*@
    <div class="w3-light-grey w3-section">
        <button onclick="myFunction('GGE')" class="w3-button w3-block">
            <h5 style="padding-top:20px; text-align:center;">Greenhouse Gas Emissions </h5>
        </button>
        <div id="GGE" class="w3-show w3-container">
            <div class="row">
                <div class="col-md-4 my-3">
                    <div class="w3-card">
                        <img src="/images/blogs/ghg_blog1.png" alt="Greenhouse Gases" style="width:100%; height:215px;">
                        <div class="w3-container">
                            <h6><b>What are Greenhouse Gases and why are they a Problem?</b></h6>
                            <a href="https://www.helloinspire.com/blog/clean-power/what-are-greenhouse-gases" target="_blank" style="text-decoration:underline;">Read More >> </a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="w3-card">
                        <img src="/images/blogs/ghg_blog2.png" alt="Greenhouse Effect" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:17px;">
                            <h6><b>What is the Greenhouse Effect?</b></h6>
                            <a href="https://www.climaterealityproject.org/blog/what-greenhouse-effect" target="_blank" style="text-decoration:underline;">Read More >></a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="w3-card">
                        <img src="/images/blogs/ghg_blog3.png" alt="Greenhouse Effect" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:0px;">
                            <h6><b>Understand Greenhouse gas emissions by Countries and sectors.</b></h6>
                            <a href="https://www.wri.org/blog/2020/02/greenhouse-gas-emissions-by-country-sector" target="_blank" style="text-decoration:underline;">Read More >></a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="w3-card">
                        <img src="/images/blogs/ghg_blog4.png" alt="Greenhouse Effect" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:17px;">
                            <h6><b>Sources of Greenhouse Gas Emissions(Sector Wise).</b></h6>
                            <a href="https://www.epa.gov/ghgemissions/sources-greenhouse-gas-emissions" target="_blank" style="text-decoration:underline;">Read More >></a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="w3-card">
                        <img src="/images/blogs/ghg_blog5.png" alt="Greenhouse Effect" style="width:100%; height:215px;">
                        <div class="w3-container" style="padding-top:17px;">
                            <h6><b>Easy Ways to Reduce Greenhouse Gas Emissions.</b></h6>
                            <a href="https://interestingengineering.com/top-5-ways-to-reduce-greenhouse-gas-emissions" target="_blank" style="text-decoration:underline;">Read More >></a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- End Row 1-->
<!--Start Row 2-->
<div class="w3-panel w3-card">
    <div class="w3-light-grey w3-section">
        <button onclick="myFunction('CFP')" class="w3-button w3-block">
            <h5 style="padding-top:20px; text-align:center;">Carbon Footprint</h5>
        </button>
        <div id="CFP" class="w3-hide w3-container">
            <div class="w3-panel w3-card" style="margin-top: 60px;">
                @*<h3 style="padding-top:20px; text-align:center;">Carbon Footprint</h3>
                    <span style="text-align:right;float:right; text-decoration: underline;">Scroll For More</span><br /><br />*@
                <div class="row">
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/cf_blog1.png" alt="Energy" style="width:100%; height:215px;">
                            <div class="w3-container">
                                <h6><b>35 Ways to reduce your Carbon Footprints!</b></h6>
                                <a href="https://blogs.ei.columbia.edu/2018/12/27/35-ways-reduce-carbon-footprint/" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/cf_blog2.png" alt="Energy" style="width:100%; height:215px;">
                            <div class="w3-container">
                                <h6><b>Impact of your Carbon Footprint on Climate</b></h6>
                                <a href="https://www.gaiam.com/blogs/discover/how-does-your-carbon-footprint-impact-climate-change" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/cf_blog2.png" alt="Energy" style="width:100%; height:215px;">
                            <div class="w3-container">
                                <h6><b>Impact of your Carbon Footprint on Climate</b></h6>
                                <a href="https://www.gaiam.com/blogs/discover/how-does-your-carbon-footprint-impact-climate-change" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row 2-->
<!--Start Row 3-->
<div class="w3-panel w3-card">
    <div class="w3-light-grey w3-section">
        <button onclick="myFunction('EGC')" class="w3-button w3-block">
            <h3 style="padding-top:20px; text-align:center;">Energy Consumption</h3>
        </button>
        <div id="EGC" class="w3-hide w3-container">
            <div class="w3-panel w3-card" style="margin-top: 60px;">
                <div class="row" style="padding-top:15px;">
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/ene_blog1.png" alt="Energy" style="width:100%; height:215px;">
                            <div class="w3-container">
                                <h6><b>Household Energy Contribution towards GHG Emissions!</b></h6>
                                <a href="https://www.energymatters.com.au/energy-efficiency/" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/ene_blog1.png" alt="Energy" style="width:100%; height:215px;">
                            <div class="w3-container">
                                <h6><b>Household Energy Contribution towards GHG Emissions!</b></h6>
                                <a href="https://www.energymatters.com.au/energy-efficiency/" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/ene_blog1.png" alt="Energy" style="width:100%; height:215px;">
                            <div class="w3-container">
                                <h6><b>Household Energy Contribution towards GHG Emissions!</b></h6>
                                <a href="https://www.energymatters.com.au/energy-efficiency/" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row 3-->
<!--Start Row 4-->
<div class="w3-panel w3-card">
    <div class="w3-light-grey w3-section">
        <button onclick="myFunction('Trans')" class="w3-button w3-block">
            <h5 style="padding-top:20px; text-align:center;">Transportaion</h5>
            @*<span style="text-align:right;float:right; text-decoration: underline;">Scroll For More</span>*@
        </button>
        <div id="Trans" class="w3-hide w3-container">
            <div class="w3-panel w3-card" style="margin-top: 60px;">
                <div class="row" style="padding-top:15px;">
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/tr_blog1.jpg" alt="Transport Emissions" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>The Truth about Australia’s Transport Emissions</b></h6>
                                <a href="https://thedriven.io/2019/03/06/the-truth-of-australia-transport-emissions/" target="_blank" style="text-decoration:underline;">Read More >> </a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/tr_blog2.jpg" alt="Transport Emissions" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>What's the Deal with Transport Emissions?</b></h6>
                                <a href="https://www.climatecouncil.org.au/resources/transport-emissions-and-climate-solutions/" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/tr_blog2.jpg" alt="Transport Emissions" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>What's the Deal with Transport Emissions?</b></h6>
                                <a href="https://www.climatecouncil.org.au/resources/transport-emissions-and-climate-solutions/" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row 4-->
<!--Start Row 5-->
<div class="w3-panel w3-card">
    <div class="w3-light-grey w3-section">
        <button onclick="myFunction('CCH')" class="w3-button w3-block">
            <h5 style="padding-top:20px; text-align:center;">Climate Change & its Health Impacts</h5>
            @* <span style="text-align:right;float:right; text-decoration: underline;">Scroll For More</span><br /><br />*@
        </button>
        <div id="CCH" class="w3-hide w3-container">
            <div class="w3-panel w3-card" style="margin-top: 60px;">

                <div class="row" style="padding-top:15px;">
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/cc_blog1.png" alt="Climate change" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>Are Humans the only cause for the Climate Change?</b></h6>
                                <a href="https://www.carbonbrief.org/analysis-why-scientists-think-100-of-global-warming-is-due-to-humans" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/cc_blog2.png" alt="Climate change" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>Renewable Enegery and Climate Change</b></h6>
                                <a href="https://www.phoenixenergygroup.com/blog/power-ways-renewable-energy-helps-save-climate-change" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/cc_blog3.png" alt="Climate change" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>Health Impacts of Green House Gases</b></h6>
                                <a href="https://blogs.scientificamerican.com/observations/climate-change-is-a-public-health-emergency/" target="_blank" style="text-decoration:underline;">Read More >> </a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/cc_blog4.png" alt="Climate change" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>Beyond reduce, reuse, recycle!</b></h6>
                                <a href="https://www.greenpeace.org.au/blog/beyond-reduce-reuse-recycle/" target="_blank" style="text-decoration:underline;">Read More >> </a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row 5-->
<!--Start Row 6-->
<div class="w3-panel w3-card">
    <div class="w3-light-grey w3-section">
        <button onclick="myFunction('OF')" class="w3-button w3-block">
            <h5 style="padding-top:20px; text-align:center;">Organic Farming</h5>
        </button>
        <div id="OF" class="w3-hide w3-container">
            <div class="w3-panel w3-card" style="margin-top: 60px;">

                <div class="row" style="padding-top:15px;">
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/of_blog1.png" alt="Organic Farming" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>9 Reasons to Plant a Tree today!</b></h6>
                                <a href="https://arbordayblog.org/treeplanting/9-reasons-to-plant-a-tree/" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/of_blog2.png" alt="Organic Farming" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>Beginners guide to Organic Farming.</b></h6>
                                <a href="https://www.smilinggardener.com/organic-vegetable-gardening/vegetable-gardening-for-beginners/" target="_blank" style="text-decoration:underline;">Read More >> </a>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="w3-card">
                            <img src="/images/blogs/of_blog3.png" alt="Organic Farming" style="width:100%; height:215px;">
                            <div class="w3-container" style="padding-top:0px;">
                                <h6><b>How Organic Farming Benefits the Environment!</b></h6>
                                <a href="https://www.thebalancesmb.com/environmental-benefits-of-organic-farming-2538317" target="_blank" style="text-decoration:underline;">Read More >></a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- End Row 6-->

<script>function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }</script>

